.responsive-redirect {
  &__header {
    display: flex;
    align-items: center;
    & span:last-child {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }

  &__button {
    display: flex !important;
    align-items: center !important;
  }
}
