.responsive-redirect-table {
  max-width: 800px;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;

  & thead {
    background-color: var(--blue);
    color: var(--white);
  }

  & th,
  & td {
    border: 1px solid var(--gray);
    padding: 10px;
  }
  & tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row color */
  }
  & tbody tr:hover {
    background-color: #e5f3fb; /* Light hover effect */
  }

  & [type='text'] {
    width: 100%;
  }
}

.responsive-redirect-list {
  & th,
  & td {
    border: 1px solid var(--gray);
    padding: 10px;
  }
  & span {
    text-transform: capitalize;
    font-weight: 500;
  }
}

.site_url {
  font-weight: 500;
}
.actions {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
}
