:root {
  --error: #ff0000;
  --blue: #0073aa; /* WordPress blue */
  --white: #fff;
  --gray: #ddd;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.button-error {
  border: 1px solid var(--error) !important;
  color: var(--error) !important;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
}
.redirect-no-rule {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}
